.App{
  display: flex;
  flex-direction: column;
}
table,tr,th{
  border: 1px solid gray;
  border-collapse: collapse;
  align-items: center;
  padding: 1rem;
}
table,tr,td{
  border: 1px solid gray;
  border-collapse: collapse;
  align-items: center;
  padding: 1rem;
}